{% extends "layout.html" %}

{% block title %}
Password Update
{% endblock %}

{% block main %}
<form action="/changepassword" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <input class="form-control" id="old_password" name="old_password" placeholder="Old password" type="password" required>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <input class="form-control" id="new_password" name="new_password" placeholder="New password" type="password" required>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="New password (again)" type="password" oninput="check(this)" required>
        <div class="invalid-feedback">Passwords do not match.</div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


function check(input) {
    if (input.value != document.getElementById('new_password').value) {
        input.setCustomValidity('Password must match.');
    } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
    }
}

</script>


{% endblock %}

